 /*FORM ELEMENTS*/
 .btn { padding: 0.714rem 2.143rem; font-weight: 800; line-height: normal; border-radius: 2px; box-shadow: 0 3px 5px -2px rgba(26,28,30,0.5); text-transform: uppercase; } 

 /*BUTTON PRIMARY*/
 .btn-primary { color: #fff; background-color: var(--primary-color); border-color: var(--primary-color); } 
 .btn-primary:hover { color: #fff; background-color: var(--primary-light); border-color: var(--primary-light); box-shadow: none; } 
 .btn-check:focus + .btn-primary, .btn-primary:focus { color: #fff; background-color: var(--primary-dark); border-color: var(--primary-dark); box-shadow: none; } 
 .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle { color: #fff; background-color: var(--primary-dark); border-color: var(--primary-dark); } 
 .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus { box-shadow: none; } 
 .btn-primary:disabled, .btn-primary.disabled { color: #fff; background-color: var(--primary-color); border-color: var(--primary-color); } 
 
 /*BUTTON SECONDARY*/
 
.btn-secondary { color: #fff; background-color: var(--secondary-color); border-color: var(--secondary-color); } 
.btn-secondary:hover { color: #fff; background-color: var(--secondary-light); border-color: var(--secondary-light); box-shadow: none } 
.btn-check:focus + .btn-secondary, .btn-secondary:focus { color: #fff; background-color: var(--secondary-dark); border-color: var(--secondary-dark); box-shadow: none; } 
.btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle { color: #fff; background-color: var(--secondary-dark); border-color: var(--secondary-dark); } 
.btn-check:checked + .btn-secondary:focus, .btn-check:active + .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus, .show > .btn-secondary.dropdown-toggle:focus { box-shadow: none; } 
.btn-secondary:disabled, .btn-secondary.disabled { color: #fff; background-color: var(--secondary-color); border-color: var(--secondary-color); } 

/*BUTTON PRIMARY OUTLINE*/

.btn-outline-primary { color: var(--primary-color); border: solid 1px var(--primary-color); box-shadow: none; } 
.btn-outline-primary:hover { color: var(--primary-light); background: none; border-color: var(--primary-light); box-shadow: none } 
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus { box-shadow: none; } 
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show { color: var(--primary-dark); background: none; border-color: var(--primary-dark); } 
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus { box-shadow: none; } 
.btn-outline-primary:disabled, .btn-outline-primary.disabled { color: var(--primary-color); background-color: transparent; } 

/**BUTTON SECONDARY OUTLINE*/

.btn-outline-secondary { color: var(--secondary-color); border: solid 1px var(--secondary-color); box-shadow: none } 
.btn-outline-secondary:hover { color: var(--secondary-light); background: none; border-color: var(--secondary-light); box-shadow: none } 
.btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus { box-shadow: none; } 
.btn-check:checked + .btn-outline-secondary, .btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show { color: var(--secondary-dark); background: none; border-color: var(--secondary-dark); } 
.btn-check:checked + .btn-outline-secondary:focus, .btn-check:active + .btn-outline-secondary:focus, .btn-outline-secondary:active:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus { box-shadow: none; } 
.btn-outline-secondary:disabled, .btn-outline-secondary.disabled { color: var(--secondary-color); background-color: transparent; } 

.form-control { border: solid 1px var(--color-30); border-radius: 0; color: var(--color-dark); border-radius: 3px; padding: 0.500rem 0.75rem; } 
.form-control:focus, .form-select:focus { background-color: #fafafa; border-color: var(--color-70); outline: 0; box-shadow: none; } 
.form-control:disabled, .form-select:disabled, .form-control[readonly] { background-color: #eeee; opacity: 0.6 } 

.form-select {  border: solid 1px var(--color-30); border-radius: 3px; padding: .500rem 2.25rem .500rem .75rem;}

.form-check-input { border: solid 1px var(--color-30);}
.form-check-input:focus {border-color: var(--secondary-dark); outline: 0; box-shadow: 0 0 0 0.25rem rgb(239 83 80 / 25%);}
.form-check-input:checked {
    background-color: var(--secondary-color);
    border-color: var(--secondary-dark);
}

.form-label { color: var(--color-80);}
 