* { margin: 0; padding: 0;}
body {
    background-color: #f5f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: 0 auto;
}

:root {
    --color-dark: #1A1C1E;
    --color-70: rgba(26,28,30,0.7); 
    --color-50: rgba(26,28,30,0.5); 
    --color-30: rgba(26,28,30,0.3); 
    --color-20: rgba(26,28,30,0.2); 
    --color-10: rgba(26,28,30,0.1);
    --color-3: rgba(26,28,30,0.03);

    --primary-color: #1565c0; 
    --secondary-color: #EF5350;
    --primary-color: #1565c0; 
    --secondary-color: #EF5350;

    --primary-color-10: rgba(21,101,192,0.10);

    --primary-light: #5e92f3;
    --primary-dark: #003c8f;

    --secondary-light: #ff867c;
    --secondary-dark: #b61827;
             
    font-size: 14px;
}

.container { 
    background-color: #fff;
    width: 768px;
    height: 480px;
    border-radius: 10px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0,0,0,0.22);
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: transform 0.6 ease-in-out;
}

.sign-up-container {
    width: 50%;
    left: 0;
    z-index: 1;
    opacity: 0;
}

form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
    height: 100%;
}

h1 {
    font-weight: 900;
    margin: 0;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: solid 1px gray;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    max-width: 0 5px;
}
.social-container a.fb { border-color: #4064AC; color: #4064AC;}
.social-container a.tw { border-color: #52A8E7; color: #52A8E7;}
.social-container a.gp { border-color: #EF5350; color: #EF5350;}

a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    max-width: 15px 0;
}

span { font-size: 12px; margin-bottom: 20px}

.form-group { text-align: left; display: block; width: 100%; margin-bottom: 13px; }
.form-group label { display: inline-block; margin-bottom: 10px;}

.form-control {
    width: 100%;
    box-sizing: border-box;
    border: solid 1px var(--color-30);
    border-radius: 0;
    color: var(--color-dark);
    border-radius: 3px;
    padding: 0.500rem 0.75rem;
    display: block;
    height: 33px;
}

.submit-btn-margin { margin-top: 22px;}

 /*BUTTON PRIMARY*/
 .btn {
     padding: 0.714rem 2.143rem;
    font-weight: 800;
    line-height: normal;
    border-radius: 2px;
    box-shadow: 0 3px 5px -2px rgb(26 28 30 / 50%);
    text-transform: uppercase;
    border: none;
    width: 100%;
}
 .btn-primary { color: #fff; background-color: var(--primary-color); border-color: var(--primary-color); } 
 .btn-primary:hover { color: #fff; background-color: var(--primary-light); border-color: var(--primary-light); box-shadow: none; } 

.btn-outline-primary {     color: white; border: solid 1px white; background: none; width: auto;  box-shadow: none; font-weight: 400; } 

.sign-in-container { 
    left: 0;
    width: 50%;
    z-index: 2;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    transition: 0.6s ease-in-out;
}

.overlay {
    background-color: #EF5080;
    background: linear-gradient(to bottom right, #1565C0, #EF5080 );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #fff;
    position: relative;
    left: -100%;
    width: 200%;
    height: 100%;
    transform: translateX(0);
    transition: transform 0.6 ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    box-sizing: border-box;
}

.overlay-left {
    transform: translateX(-20%);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

button:active {
    transform: scale(.95);
}


p {
    font-size: 13px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    z-index: 5;
    opacity: 1; 
    animation: slide 0.6s;
}

@keyframes slide {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,100% {
        opacity: 1;
        z-index: 5;
    }
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0%);
}
.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}
    

@media (max-width: 500px) {
    .sign-in-container { width: 100%;}
    .sign-up-container { width: 100%;}

    .overlay-container { width: 100%; left: 0;}

    }