@media screen and (max-width: 767px) {
    
}


/* FOR MOBILE DEVICE */
@media screen and (max-width: 600px) {

    :root { font-size: 12px;}
    .right-column { padding-left: 0;}
    .sidebar { transition: 0.5s;}
    
}