@import "form-elements.css";
body { margin: 0; padding: 0; font-family: "Roboto", sans-serif; background-color: #eeeeee; } 


/* PAGE BASE SETIING */
:root { 
    --color-dark: #1A1C1E;
    --color-80: rgba(26,28,30,0.8);
    --color-70: rgba(26,28,30,0.7); 
    --color-50: rgba(26,28,30,0.5); 
    --color-30: rgba(26,28,30,0.3); 
    --color-20: rgba(26,28,30,0.2); 
    --color-10: rgba(26,28,30,0.1);
    --color-3: rgba(26,28,30,0.03);

    --primary-color: #1565c0; 
    --secondary-color: #EF5350;

    --primary-color-10: rgba(21,101,192,0.10);

    --primary-light: #5e92f3;
    --primary-dark: #003c8f;

    --secondary-light: #ff867c;
    --secondary-dark: #b61827;
             
    font-size: 14px;
} 



 i { font-size: 1.3rem; } 

 .primary-color { color: var(--primary-color); } 
 .secondary-color { color: var(--secondary-color); } 
 .primary-bg { background-color: var(--primary-color); } 
 .secondary-bg { background-color: var(--secondary-color); } 

 .color-70 { color: var(--color-70); } 
 .color-50 { color: var(--color-50); } 
 .color-20 { color: var(--color-20); } 
 .color-30 { color: var(--color-30); } 
 .color-dark { color: var(--color-dark); } 

.height-250 { height: 33.571rem; overflow-y: auto; } 

.bg-light { background-color: var(--color-20); } 


 .border-radius { border-radius: 10px; } 
 .border-btm { border-bottom: solid 2px #D1CFCF; } 

 h1 { font-size: 1.786rem;}
 h2 { font-size: 1.429rem; margin: 0; padding: 0; } 
 h5 { font-size: 1rem; margin: 0; padding: 0; } 



 /**BOOTSTRAP OVERRITE**/

.breadcrumb { opacity: 0.30; } 
.breadcrumb-item.active { color: var(--primary-color); } 

.progress { background-color: var(--color-20); } 
.progress-bar { background-color: var(--primary-color); } 

.small { font-size: 0.857rem; } 
.list-group-item { padding: 1.5rem; } 
 
/***/

 /*HEADER*/

 header { background-color: #fff; box-shadow: 0 2px 4px rgba(26,28,30,0.3); height: 3.571rem; width: 100%; position: fixed; top: 0; z-index: 2; } 
 header .container-fluid { height: 100% } 
 header .container-fluid .row { height: 100%; align-items: center; } 

 header .logo { font-size: 1.429rem; color: var(--secondary-color); text-transform: uppercase; } 
 header .logo span { font-weight: 900; color: var(--primary-color); } 
 header .logo i { font-size: 1.786rem; color: var(--primary-color); vertical-align: middle; } 

 header .icon-wrap { display: inline-block; margin-right: 1.071rem; vertical-align: text-bottom; border-right: solid 1px #ccc; padding-right: 1.429rem; } 
 header .icon-wrap .icon-block i { font-size: 1.571rem; } 
 header .icon-wrap span .badge { background-color: var(--secondary-color); top: -15px; right: -6px; width: 15px; height: 15px; padding: 3px 0 0 0; font-size: 10px; font-weight: bold; } 
 header .icon-wrap .dropdown-menu { width: 25rem; box-shadow: 0px 2px 2px #c9c9c9; } 

 header .user-wrapper { display: inline-block; } 
 header .user-wrapper img { border: solid 1px var(--secondary-color); width: 2.5rem; height: 2.5rem; } 
 header .user-wrapper span { color: var(--color-dark); display: inline-block; text-align: left; line-height: normal; } 
 header .user-wrapper span.show i { transition: all 0.3s ease-in-out; } 
 header .user-wrapper span.show i.la-angle-right { transform: rotate(90deg); color: var(--secondary-color); transition: all 0.3s ease-in-out; } 
 header .user-wrapper span small { color: var(--color-50); display: block; } 
 /*DROPDWON*/
 header .user-wrapper .dropdown-menu { width: 14.286rem; box-shadow: 0px 2px 2px #c9c9c9; } 
 header .user-wrapper .dropdown-menu ul.settings-list { margin: 0; padding: 0; list-style: none; font-weight: 300; } 
 header .user-wrapper .dropdown-menu ul.settings-list li a { text-decoration: none; color: var(--color-dark); padding: 0.571rem 1.071rem; display: block; border-bottom: solid 1px var(--color-10); } 
 header .user-wrapper .dropdown-menu ul.settings-list li a:hover { background-color: var(--secondary-color); color: white; } 
 header .user-wrapper .dropdown-menu ul.settings-list li a i { margin-right: 10px; color: var(--primary-dark); } 
 header .user-wrapper .dropdown-menu ul.settings-list li a:hover i { color: white } 

 /*SEARCH*/
 .navbar-search-block { position: absolute; width: 100%; background: #fff; top: -100%; text-align: center; padding: 10px 15px; z-index: 4; left: 0; height: 100%; transition: top 0.3s ease-in-out; } 
 .navbar-search-block.search-bar-toggle { top: 0%; } 



/**/

/**SIDEBAR**/
.sidebar { background-color: var(--primary-color); position: fixed; top: 3.571rem; left: 0; bottom: 0; overflow-y: auto; z-index: 1; width: 18rem; box-sizing: border-box; } 
body.sb-sidenav-toggled .sidebar { margin-left: -18rem; } 

.sidebar > ul { margin: 0; padding: 0 1.5rem 0; list-style: none; font-size: 1.14rem; } 
.sidebar > ul > li a { color: rgba(255,255,255,0.80); text-decoration: none; padding: 0.9rem 0; display: block; } 
.sidebar > ul > li a:hover { color: white; } 
.sidebar > ul > li.current a { color: #fff; } 
.sidebar > ul > li > ul.custom-dropdown { margin: 0 -1.5rem; padding: 0.5rem 1.5rem 0.5rem; list-style: none; line-height: normal; background-color: var(--primary-dark); display: none; } 
.sidebar > ul > li > ul.custom-dropdown li a { padding: 0.5rem 0; color: rgba(255,255,255,0.80); font-size: 1.071rem; } 
.sidebar > ul > li.current > ul.custom-dropdown { display: block; } 
.sidebar > ul > li i.la-angel-right { transition: all 0.3s ease-in-out; } 
.sidebar > ul > li.current i.la-angle-right { transform: rotate(90deg); transition: all 0.3s ease-in-out; } 
/**/

.right-column { width: 100%; padding-left: 19rem; margin-top: 3.571rem; transition: width 0.25s ease-in; } 
body.sb-sidenav-toggled .right-column { padding-left: 0; } 

/**DASHBOARD PAGE**/

.number { font-size: 1.857rem; color: var(--secondary-color); font-weight: 900; display: block; text-align: center; margin: 0.5rem 0; } 
.facebook-color { background-color: #4867AA; } 
.twitter-color { background-color: #5DA9DD; } 

.social-box { color: white; } 
.social-box i { font-size: 2.014rem } 
.social-box span { display: inline-block; width: 49%; font-size: 1.329rem; line-height: normal; } 
.social-box span.social-count { font-weight: 200; text-align: right; border-left: solid 1px #7BB8FD; } 

 

/**/
table.custom-table thead th { color: var(--color-dark); border-top: solid 1px var(--color-20); border-bottom: solid 1px var(--color-30); padding: 15px 0; } 
table.custom-table tr td { padding: 15px 0; border: none; } 
.table>:not(:last-child)>:last-child>* { border-bottom-color: var(--color-30) } 
table.custom-table th:first-child, table.custom-table td:first-child { padding-left: 15px; } 
table.custom-table tr:nth-child(even) { background-color: var(--color-3) } 
table.custom-table .show { display: block } 
table.custom-table .hide { display:none; } 
table.custom-table tr:last-child .dropdown-content { bottom: 100%; right: 100%; } 

/* DROPDOWN MENU (ADD,EDIT,DELETE) */
.dropdown-content { display: none; position: absolute; background-color: #F4F4F4; min-width: 100px; max-width: 160px; overflow: auto; box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3); z-index: 1; border-radius: 5x; } 
 .dropdown-content ul { margin: 0; padding: 0; list-style: none; font-size: 0.900rem; } 
 .dropdown-content ul li { margin: 0; padding: 0; } 
 .dropdown-content ul li a i { font-size: 0.900rem } 
 .dropdown-content ul li a { color: var(--color-dark); padding: 6px 10px; border-bottom: solid 1px var(--color-10); text-decoration: none; display: block; } 
 .dropdown-content ul li a:active { color: var(--color-dark); } 
 .dropdown-content ul li a:hover { background-color: #fff; } 









/*SIDEBAR SCROLLER HANDLE*/
/* width */
.sidebar::-webkit-scrollbar { border-radius: 10px; width: 6px } 

/* Track */
.sidebar::-webkit-scrollbar-track { background: var(--primary-light); border-radius: 10px; } 
 
/* Handle */
.sidebar::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.7); border-radius: 10px; } 

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover { background: rgab(0,0,0,0.5); } 


/*SCROLLER HANDLE*/
/* width */
.scroll-design::-webkit-scrollbar { border-radius: 10px; width: 6px } 

/* Track */
.scroll-design::-webkit-scrollbar-track { background: rgba(196,196,196,0.6); border-radius: 10px; } 
 
/* Handle */
.scroll-design::-webkit-scrollbar-thumb { background: var(--secondary-color); border-radius: 10px; } 

/* Handle on hover */
.scroll-design::-webkit-scrollbar-thumb:hover { opacity: 0.9; } 



